<h1>Hello, Admin!</h1>

<ul class="nav nav-pills">
  <li role="presentation"><%= link_to 'Work man', controller: 'users' %></li>
  <li role="presentation"><%= link_to 'Position', controller: 'positions' %></li>
</ul>