.profile-pic {
	&-small {
		border-radius: 50%;
		width: 10vh;
		height: 10vh;
	}

	&-medium {
		border-radius: 50%;
		width: 20vh;
		height: 20vh;
	}

	&-full {
		border-radius: 50%;
		width: 70%;
	}
}

.btn-file {
	input {
		display: none;
	}
}